.main {
	text-align: center;
	width: 100vw;
}

.popup {
	display: none;
	position: absolute;
	right: 1rem;
	top: 3rem;
	background: rgb(211, 211, 211);
	border-radius: 10px;
	width: 9rem;
	text-align: left;
	padding: 0.5rem 0 0.5rem 0;
}

.popup p {
	padding: 0 0 0 1.5rem;
	margin: 0;
}

.popup a {
	text-decoration: none;
	color: rgb(25,135,84);
}
.popup a:hover {
	text-decoration: underline;
}